.body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #5b758d;
}

.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-column-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  font-size: 64px;
  line-height: 150%;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  line-height: 150%;
  font-weight: 400;
}

h3 {
  font-size: 30.8764px;
  line-height: 150%;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
}

h6 {
  font-size: 48px;
  line-height: 150%;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #454545;
}

.text-blue {
  color: #bcf8ff;
}

.text {
  color: #5b758d;
}

.text-violet {
  color: #3c5ed4;
}

.block {
  margin: 0 12px;
}
.block .block-title {
  padding-top: 75px;
}
.block .block-content {
  padding-bottom: 75px;
}

@media (min-width: 1600px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1720px;
  }
}
@media (min-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1620px;
  }
}
@media (max-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1420px;
  }
}
@media (max-width: 1200px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1220px;
  }
}
@media screen and (max-width: 1700px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 26.8764px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 42px;
  }

  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24.8764px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 38px;
  }

  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1240px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 19.8764px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 33px;
  }

  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 30px;
  }

  p {
    font-size: 14px;
  }

  .block {
    margin: 0 12px;
  }
  .block .block-title {
    padding-top: 45px;
  }
  .block .block-content {
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 12px;
  }

  .h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 26px;
  }

  p {
    font-size: 10px;
  }

  .block {
    margin: 0 10px;
  }
  .block .block-title {
    padding-top: 35px;
  }
  .block .block-content {
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 10px;
  }

  h5 {
    font-size: 10px;
  }

  h6 {
    font-size: 22px;
  }

  p {
    font-size: 8px;
  }

  .block {
    margin: 0 8px;
  }
  .block .block-title {
    padding-top: 28px;
  }
  .block .block-content {
    padding-bottom: 28px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

input {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

.header {
  padding: 48px 0px 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 9999;
  cursor: pointer;
}
.header__menu {
  z-index: 9999;
  cursor: pointer;
}
.header__menu path {
  transition: all 0.2s linear;
}
.header__menu circle:nth-child(3),
.header__menu circle:nth-child(4),
.header__menu circle:nth-child(5),
.header__menu circle:nth-child(6),
.header__menu circle:nth-child(7) {
  transition: all 0.2s linear;
}
.header__menu:hover path {
  fill: #02b0e7;
}
.header__menu:hover circle:nth-child(3),
.header__menu:hover circle:nth-child(4),
.header__menu:hover circle:nth-child(5),
.header__menu:hover circle:nth-child(6),
.header__menu:hover circle:nth-child(7) {
  fill: #02b0e7;
  stroke: #02b0e7;
}

.block-intro-wrapper {
  width: 100%;
  background: #043887;
  overflow: hidden;
}

.button-body1 {
  padding: 10px 20px;
  width: 165px;
  height: 42px;
  background: #ffffff;
  border-radius: 34px;
  margin-top: 48px;
  border: none;
  transition: all 0.25s ease-in-out;
}
.button-body1 h5 {
  margin-right: 10px;
}
.button-body1:hover {
  background-color: #092d8e;
  border: 1px solid #ffffff;
}
.button-body1:hover h5 {
  color: #ffffff;
}

.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 12px;
  border-top: none;
  border-bottom: none;
}

.carousel-indicators .active {
  width: 40px;
  height: 14px;
  background: #ffffff;
  border-radius: 75px;
}

.page1__menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 265px;
}
.page1__menuList li:nth-child(1),
.page1__menuList li:nth-child(2),
.page1__menuList li:nth-child(3),
.page1__menuList li:nth-child(4),
.page1__menuList li:nth-child(5) {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  user-select: none;
  margin-bottom: 61px;
  position: relative;
}
.page1__menuList li:nth-child(1) a,
.page1__menuList li:nth-child(2) a,
.page1__menuList li:nth-child(3) a,
.page1__menuList li:nth-child(4) a,
.page1__menuList li:nth-child(5) a {
  transition: all 0.2s linear;
  color: white;
}
.page1__menuList li:nth-child(1) a:hover,
.page1__menuList li:nth-child(2) a:hover,
.page1__menuList li:nth-child(3) a:hover,
.page1__menuList li:nth-child(4) a:hover,
.page1__menuList li:nth-child(5) a:hover {
  color: #02b0e7;
}
.page1__menuList li:nth-child(1)::before,
.page1__menuList li:nth-child(2)::before,
.page1__menuList li:nth-child(3)::before,
.page1__menuList li:nth-child(4)::before,
.page1__menuList li:nth-child(5)::before {
  content: "";
  position: absolute;
  bottom: -9px;
  right: 0;
  height: 3px;
  width: 0%;
  background-color: #02b0e7;
  transition: all 0.2s ease-in;
}
.page1__menuList li:nth-child(1):hover::before,
.page1__menuList li:nth-child(2):hover::before,
.page1__menuList li:nth-child(3):hover::before,
.page1__menuList li:nth-child(4):hover::before,
.page1__menuList li:nth-child(5):hover::before {
  width: 100%;
}
.page1__menuList li:nth-child(6) {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  position: relative;
  user-select: none;
}
.page1__menuList li:nth-child(6) a {
  color: white;
  transition: all 0.2s linear;
}
.page1__menuList li:nth-child(6) a:hover {
  color: #02b0e7;
}
.page1__menuList li:nth-child(6)::before {
  content: "";
  position: absolute;
  bottom: -9px;
  right: 0;
  height: 3px;
  width: 0%;
  background-color: #02b0e7;
  transition: all 0.2s ease-in;
}
.page1__menuList li:nth-child(6):hover::before {
  width: 100%;
}

.page1__menu-circle {
  position: absolute;
  left: 1668px;
  top: -118px;
  width: 1025px;
  display: none;
  height: 1059px;
  border-radius: 50%;
  background: #002152;
  will-change: opacity, transform-origin;
  transition: all 3s ease-in-out;
  animation: onShowMenuCircle 0.2s ease-in-out forwards;
  transform-origin: 1926px -118px;
}

.page1__menu-circle.active {
  display: block;
}

.toggle__menuList {
  position: absolute;
  display: none;
  top: 190px;
  right: 80px;
  z-index: 999;
  will-change: opacity;
  animation: onShowMenuList 0.6s ease-in-out forwards;
}

.toggle__menuList.active {
  display: block;
}

@keyframes onShowMenuList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes onShowMenuCircle {
  0% {
    left: 1926px;
    top: -118px;
    opacity: 0;
  }
  100% {
    left: 1668px;
    top: -118px;
    opacity: 1;
  }
}
.carousel-indicators {
  bottom: -102px;
}

.page1__vector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 42px;
}
.page1__vector svg {
  z-index: 999;
}

@media screen and (max-width: 1700px) {
  .container1 {
    padding: 0 40px !important;
  }

  .carousel-indicators {
    bottom: -62px;
  }

  .page1__vector {
    margin-top: 70px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1400px) {
  .container1 {
    padding: 0 30px !important;
  }

  .carousel-indicators {
    bottom: -62px;
  }

  .page1__vector {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1240px) {
  .container1 {
    padding: 0 24px !important;
  }

  .carousel-indicators {
    bottom: -72px;
  }

  .carousel-indicators .active {
    width: 32px;
    height: 12px;
  }

  .page1__vector {
    margin-top: 70px;
    margin-bottom: 24px;
  }

  .botton-body1 {
    padding: 10px 20px;
    width: 136px;
    height: 34px;
  }
  .botton-body1 span {
    margin-right: 4px;
  }
}
@media screen and (max-width: 992px) {
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
  }

  .carousel-indicators .active {
    width: 26px;
    height: 8px;
  }

  .container1 {
    padding: 0 20px !important;
  }

  .carousel-indicators {
    bottom: -72px;
  }

  .page1__vector {
    margin-top: 70px;
    margin-bottom: 18px;
  }

  .botton-body1 {
    padding: 8px 16px;
    width: 128px;
    height: 28px;
  }
  .botton-body1 span {
    margin-right: 4px;
  }
}
@media screen and (max-width: 768px) {
  .botton-body1 {
    padding: 8px 16px;
    width: 110px;
    height: 26px;
  }
  .botton-body1 span {
    margin-right: 4px;
  }
}
.our-solution-wrapper {
  width: 100%;
  overflow: hidden;
}

.block-title {
  font-family: "Playfair Display", serif;
}

.icon__body2 {
  height: 50px;
  width: 50px;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.service-digital {
  cursor: pointer;
}
.service-digital h4 {
  position: relative;
  transition: all 0.25s ease-in-out;
}
.service-digital h4::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #092d8e;
  transition: all 0.25s ease-in;
}

.service-digital:hover h4 {
  color: #092d8e;
}
.service-digital:hover h4::before {
  width: 100%;
}

.children-title {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.children-title:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #092d8e;
  transition: all 0.25s ease-in;
}

.children-title:hover {
  color: #092d8e;
}
.children-title:hover::before {
  width: 100%;
}

@media screen and (min-width: 1700px) {
  .service-digital {
    padding: 30px 0;
    width: 100%;
  }
}
@media screen and (max-width: 1700px) {
  .service-digital {
    padding: 28px 0;
  }
}
@media screen and (max-width: 1240px) {
  .eKYC {
    margin-bottom: 36px;
  }

  .body2 .container {
    margin-bottom: 36px;
  }

  .body2__title {
    padding-top: 65px;
  }

  .service-digital {
    padding: 24px 0;
  }
}
@media screen and (max-width: 1200px) {
  .service-digital {
    padding-left: 28px;
    padding: 20px 0;
  }

  .service-digital:nth-child(3) {
    border-bottom: 1px solid #dee2e6;
  }
}
@media screen and (max-width: 992px) {
  .eKYC {
    margin-bottom: 28px;
  }

  .service-digital {
    padding: 16px 0;
    padding-left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .eKYC {
    margin-bottom: 24px;
  }

  .service-digital {
    padding: 14px 0;
    padding-left: 16px;
  }
}
@media screen and (max-width: 576px) {
  .block-eKYC {
    flex-direction: column-reverse;
  }

  .service-digital h4 {
    font-size: 14px !important;
  }

  .icon__body2 {
    height: 0px;
    width: 0px;
    margin-right: 16px;
  }
}
.block-post-wrapper {
  background-color: #005c9f;
}

.block-post .items .item {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
.block-post .items .item .item-content {
  min-height: 276px;
}

.block-post-wrapper .block-content .items {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.block-post-wrapper .block-content .items:hover {
  transform: translateY(-24px);
}

.block-content {
  margin-top: 42px;
}

@media (min-width: 1400px) {
  .body3 .container3 .container {
    max-width: 2040px;
  }
}
@media screen and (max-width: 1240px) {
  .block-content {
    margin-top: 38px;
  }
}
@media screen and (max-width: 1200px) {
  .block-content {
    margin-top: 32px;
  }

  .item-content {
    min-height: 311px !important;
  }
}
@media screen and (max-width: 992px) {
  .block-content {
    margin-top: 28px;
  }

  .item-content {
    min-height: 246px;
  }
}
@media screen and (max-width: 768px) {
  .block-content {
    margin-top: 24px;
  }

  .item-content {
    min-height: 180px !important;
  }
}
@media screen and (max-width: 576px) {
  .description {
    padding: 0 20px;
  }

  .block-content {
    margin-top: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
    text-align: justify;
  }
}
.lvt-mission-wrapper {
  width: 100%;
  overflow: hidden;
}

.lvt-mission-wrapper h1 {
  line-height: 79px;
}
.lvt-mission-wrapper p {
  text-align: justify;
}

.lvt-mission-wrapper img {
  animation: shake 0.5s linear infinite;
}

@media screen and (max-width: 1240px) {
  h1 {
    line-height: 52px !important;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    line-height: 35px !important;
  }
}
@media screen and (max-width: 576px) {
  .lvt-mission-wrapper .block-content {
    flex-direction: column-reverse;
  }
  .lvt-mission-wrapper .block-content div:nth-child(1) {
    margin-top: 12px;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.trust-solution-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #2f72af;
}
.trust-solution-wrapper .items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 468px !important;
}

@keyframes jelly {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.page6 {
  width: 100%;
  height: 930px;
  overflow: hidden;
}
.page6 .container6 {
  width: 100%;
  height: 100%;
  padding: 0 344px;
  background-color: #fff;
  margin: 0 auto;
}
.page6__body {
  padding-top: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page6__body--right {
  width: 437px;
  height: 514px;
}
.page6__content {
  width: 648px;
  height: 192px;
  font-family: "Playfair Display", serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #454545;
}
.page6__content--strong {
  font-family: "Playfair Display", serif !important;
  font-weight: 700;
  color: #5d53cf;
}
.page6__button {
  margin-top: 59px;
  width: 322px;
  height: 80px;
  background: #4555e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.page6__button span {
  margin-right: 20.7px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.pseudoClass {
  position: absolute;
  content: "";
  z-index: 1;
  width: 322px;
  height: 80px;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #4555e0;
  transform-origin: center;
  animation: onHoverbutton 0.75s linear infinite;
}

@keyframes onHoverbutton {
  0% {
    scale: 1;
  }
  100% {
    transform-origin: center;
    transform: scale(1.45);
    opacity: 0;
  }
}
.page7 {
  width: 100%;
  height: 930px;
}
.page7 .container7 {
  width: 100%;
  height: 100%;
  padding: 0 225px;
  background-color: #373d4b;
  margin: 0 auto;
  position: relative;
}
.page7__topBackground {
  position: absolute;
  top: -120px;
  right: 145px;
  width: 756px;
  height: 124.91px;
}

.page7__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 142px;
}

.page7__content--left div:nth-child(1) span {
  width: 100%;
  height: 64px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
.page7__content--left div:nth-child(2) {
  margin-top: 32px;
  width: 100%;
  height: 27px;
}
.page7__content--left div:nth-child(2) span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
}

.page7__address {
  margin-top: 19px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.page7__address span {
  margin-left: 26px;
  width: 100%;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #baccdc;
}

.page7__hot-line,
.page7__email {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page7__hot-line span,
.page7__email span {
  margin-left: 26px;
  width: 114px;
  height: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 228%;
  color: #baccdc;
}

.page7__email span {
  font-weight: normal;
}

.page7__map {
  width: 100%;
  margin-top: 58px;
  position: relative;
}

.coordinate {
  position: absolute;
  right: 120px;
  top: 48px;
}

.page7__content--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

textarea {
  resize: none;
}

.userName input {
  outline: none;
  border: none;
  padding-left: 23px;
  width: 722px;
  height: 60px;
  color: white;
  border-radius: 10px;
  background: #3f4452;
}

.mail-phone {
  outline: none;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userEmail {
  outline: none;
  border: none;
  width: 348px;
  padding-left: 23px;
  margin-right: 26px;
  height: 60px;
  color: white;
  background: #3f4452;
  border-radius: 10px;
}

.userPhone {
  outline: none;
  border: none;
  padding-left: 23px;
  width: 348px;
  height: 60px;
  color: white;
  background: #3f4452;
  border-radius: 10px;
}

.userMessage {
  outline: none;
  margin-top: 25px;
  width: 722px;
  padding-top: 18px;
  padding-left: 23px;
  height: 241px;
  color: white;
  border: none;
  background: #3f4452;
  border-radius: 10px;
}

.page7__btn {
  width: 722px;
  height: 70px;
  margin-top: 25px;
  background: #4555e0;
  border-radius: 10px;
  border: none;
}
.page7__btn span {
  width: 73px;
  height: 41px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 228%;
  color: #ffffff;
}

.footer {
  width: 100%;
  height: 91px;
  overflow: hidden;
}
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container8 {
  max-width: 2080px;
  width: 100%;
  height: 100%;
  padding: 0 80px;
  background: #2f3443;
  position: relative;
  display: flex;
  align-items: center;
}
.footer .container8 div:nth-child(3) {
  width: 371px;
  height: 19px;
  margin-left: 282px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #baccdc;
}
.footer .container8 button {
  width: 140px;
  height: 40px;
  border: 0.5px solid #baccdc;
  border-radius: 10px;
  margin-left: 56px;
  background-color: transparent;
}
.footer .container8 button span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #baccdc;
  margin-right: 20px;
}
.footer__logo {
  width: 139px;
  height: 37px;
  margin-right: 77px;
}
.footer__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__category li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
}
.footer__category li a {
  transition: all 0.2s ease-in-out;
}
.footer__category li:hover a {
  color: cyan;
}
.footer__category li img {
  width: 9px;
  height: 9px;
  margin-right: 13px;
  border-radius: 50%;
  background: #505583;
  margin-right: 13px;
}
.footer__category li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #baccdc;
}

/*# sourceMappingURL=app.css.map */
