html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

input {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
.body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 16px;
}

.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-column-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: #454545;
}

.text-blue {
  color: #bcf8ff;
}

.text {
  color: #5b758d;
}

.text-violet {
  color: #3c5ed4;
}

.text-darkblue {
  color: #092d8e;
}

@media (min-width: 1600px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1720px;
  }
}
@media (min-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1620px;
  }
}
@media (max-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1420px;
  }
}
@media (max-width: 1200px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1220px;
  }
}
.block {
  padding: 75px 0;
}
.block .block-content {
  margin-top: 28px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-lg-5ths {
  width: 20%;
  float: left;
}

h1 {
  font-size: 64px;
  line-height: 150%;
  font-weight: bold;
  font-family: iCielSamsungSharp, serif !important;
}

h2 {
  font-size: 48px;
  line-height: 150%;
  font-weight: bold;
  font-family: iCielSamsungSharp, serif !important;
}

h3 {
  font-size: 36px;
  line-height: 150%;
  font-weight: 400;
}

h4 {
  font-size: 30.8764px;
  line-height: 150%;
  font-weight: 500;
}

h5,
span {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  color: #5b758d;
}

h6 {
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: #5b758d;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #5b758d;
  text-align: justify;
}

@media screen and (max-width: 1700px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 26.8764px;
  }

  h5,
span {
    font-size: 22px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24.8764px;
  }

  h5,
span {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 19.8764px;
  }

  h5,
span {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .col-md-5ths {
    width: 20%;
    float: left;
  }

  .block {
    padding: 45px 0;
  }
  .block .block-content {
    margin-top: 24px;
  }

  .arrow-image {
    margin-top: 16px;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 16px;
  }

  h5,
span {
    font-size: 15px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 13px;
  }

  h5,
span {
    font-size: 12px;
  }

  h6 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }

  .block {
    padding: 35px 0;
  }
  .block .block-content {
    margin-top: 18px;
  }

  .col-xs-5ths {
    width: 20%;
    float: left;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 13px;
  }

  h5,
span {
    font-size: 10px;
  }

  h6 {
    font-size: 8px;
  }

  p {
    font-size: 8px;
  }

  .block {
    padding: 28px 0;
  }
  .block .block-content {
    margin-top: 14px;
  }

  .arrow-image {
    margin-top: 12px;
    width: 20px;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
.header {
  padding: 48px 0px 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 9999;
  cursor: pointer;
}
.header__menu {
  z-index: 9999;
  cursor: pointer;
}
.header__menu path {
  transition: all 0.2s linear;
}
.header__menu circle:nth-child(3),
.header__menu circle:nth-child(4),
.header__menu circle:nth-child(5),
.header__menu circle:nth-child(6),
.header__menu circle:nth-child(7) {
  transition: all 0.2s linear;
}
.header__menu:hover path {
  fill: #02b0e7;
}
.header__menu:hover circle:nth-child(3),
.header__menu:hover circle:nth-child(4),
.header__menu:hover circle:nth-child(5),
.header__menu:hover circle:nth-child(6),
.header__menu:hover circle:nth-child(7) {
  fill: #02b0e7;
  stroke: #02b0e7;
}

@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#footer {
  width: 100%;
  overflow: hidden;
  background-color: #373d4b;
}
#footer input,
#footer textarea,
#footer .btn-send-infoUser {
  background-color: #3f4452;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 20px 0 20px 19px;
}
#footer textarea {
  min-height: 200px;
}
#footer .block-content {
  display: flex;
  align-items: center;
}

.btn-send-infoUser {
  background-color: #0072be !important;
  border: 1px solid #0072be;
  transition: all 0.15s ease-in-out;
}
.btn-send-infoUser:hover {
  border: 1px solid white;
  background-color: #092d8e !important;
}

.contacts {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contacts h6 {
  transition: all 0.25s ease-in-out;
}
.contacts:hover h6 {
  color: #ffffff;
}

.block-map {
  position: relative;
}
.block-map .location {
  position: absolute;
  right: 168px;
  top: 68px;
}

.email-form,
.phone-form {
  width: 50%;
}

.footer-bottom {
  background-color: #2f3443;
  padding: 20px 0;
}
.footer-bottom .footer-bootom-right,
.footer-bottom .footer-bottom-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-bottom .footer-bootom-right .logo-footer,
.footer-bottom .footer-bottom-left .logo-footer {
  cursor: pointer;
}
.footer-bottom .footer-bootom-right .footer-menu,
.footer-bottom .footer-bottom-left .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .footer-bootom-right .footer-menu .category,
.footer-bottom .footer-bottom-left .footer-menu .category {
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.footer-bottom .footer-bootom-right .footer-menu .category h6,
.footer-bottom .footer-bottom-left .footer-menu .category h6 {
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.footer-bottom .footer-bootom-right .footer-menu .category:hover h6,
.footer-bottom .footer-bottom-left .footer-menu .category:hover h6 {
  color: #ffffff;
}

.copyright h6 {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  color: #ffffff;
  text-align: end;
}

.dropdown-menu {
  min-width: 100px;
  padding: 0;
  border-radius: 10px !important;
}
.dropdown-menu button {
  width: 100%;
  outline: none;
  border: none;
  padding: 6px 6px;
  transition: all 0.25s ease-in-out;
}
.dropdown-menu button:hover {
  background-color: #092d8e;
  color: #ffffff;
}

.btn-language {
  width: 100%;
  padding: 6px 6px;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  transition: all 0.25s ease-in-out;
}
.btn-language:hover {
  background-color: #092d8e;
}
.btn-language:hover h6 {
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .copyright h6,
.category h6 {
    font-size: 12px !important;
  }

  .btn-language {
    width: 100%;
    padding: 4px 4px;
  }
  .btn-language h6 {
    font-size: 12px;
  }

  .footer-menu {
    display: flex;
    justify-content: end !important;
  }
}
@media screen and (max-width: 992px) {
  input,
textarea,
.btn-send-infoUser {
    padding: 10px 0 10px 16px !important;
  }

  textarea {
    min-height: 144px !important;
  }

  .email-form {
    width: 65%;
  }

  .phone-form {
    width: 35%;
  }

  .btn-group.dropup,
.copyright,
.footer-menu,
.footer-logo {
    display: flex;
    justify-content: center !important;
  }

  .btn-group.dropup,
.copyright,
.footer-menu {
    margin-top: 12px;
  }
  .btn-group.dropup .category h6,
.copyright .category h6,
.footer-menu .category h6 {
    padding-left: 24px;
  }
  .btn-group.dropup .category img,
.copyright .category img,
.footer-menu .category img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .footer-bottom {
    padding: 0;
  }

  .copyright,
.footer-logo {
    margin: 8px 0;
    display: flex;
    align-items: center;
  }

  .footer .block-content {
    margin-top: 0px !important;
  }

  input,
textarea,
.btn-send-infoUser {
    padding: 8px 0 8px 14px !important;
    border-radius: 6px !important;
    font-size: 10px;
  }

  .category img {
    display: none;
  }
  .category h6 {
    color: #ffffff;
  }

  .footer-menu ul {
    justify-content: center !important;
  }
}
@media screen and (max-width: 576px) {
  .email-form,
.phone-form {
    width: 50%;
  }

  input,
textarea,
.btn-send-infoUser {
    padding: 6px 0 6px 10px !important;
    border-radius: 6px !important;
  }

  .footer-menu .category h6 {
    padding-left: 12px;
  }

  .copyright {
    justify-content: center;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.btn-experience-now {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background: #0072be;
  border-radius: 10px;
  border: none;
  position: relative;
  padding: 8px 14px;
  margin-top: 32px;
  transition: all 0.25s ease-in-out;
}
.btn-experience-now .btn-image {
  padding-left: 12px;
}
.btn-experience-now span {
  color: #ffffff;
}
.btn-experience-now:hover {
  background: #092d8e;
}
.btn-experience-now:hover::before {
  border: 4px solid #092d8e;
}

.btn-experience-now::before {
  position: absolute;
  content: "";
  z-index: 1;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #0072be;
  transform-origin: center;
  animation: animationbutton 1s linear infinite;
}

@media screen and (max-width: 992) {
  .btn-image {
    height: 12px;
  }
}
@media screen and (max-width: 768px) {
  .btn-experience-now {
    margin-top: 18px;
    padding: 4px 8px;
  }
  .btn-experience-now::before {
    border: 2px solid #0072be;
  }
  .btn-experience-now:hover {
    background: #092d8e;
  }
  .btn-experience-now:hover::before {
    border: 2px solid #092d8e;
  }
  .btn-experience-now .btn-image {
    padding-left: 4px;
    width: 12px;
  }
}
@media screen and (max-width: 576px) {
  .btn-experiece-now-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes animationbutton {
  0% {
    scale: 1;
  }
  100% {
    transform-origin: center;
    transform: scale(1.45);
    opacity: 0;
  }
}
.owl-carousel .owl-item img {
  width: auto;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: block;
}

.owl-carousel .owl-dots .owl-dot.active span {
  width: 30px;
  height: 10px;
  background-color: white;
}

.arrow-image {
  margin-top: 28px;
}

figure {
  position: relative;
}

figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

@media screen and (max-width: 576px) {
  .arrow-image {
    margin-top: 12px;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
.modal-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}
.modal-loading-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
}
.modal-loading-overlay .loading-dots {
  width: 4.2em;
  height: 4.2em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.modal-loading-overlay .loading-dots > div {
  width: 0.8em;
  height: 0.8em;
  background-color: #092d8e;
  border-radius: 50%;
  animation: fade 0.7s alternate ease-in-out infinite;
}
.modal-loading-overlay .loading-dots > div:nth-of-type(2), .modal-loading-overlay .loading-dots > div:nth-of-type(4) {
  animation-delay: 0.25s;
}
.modal-loading-overlay .loading-dots > div:nth-of-type(3), .modal-loading-overlay .loading-dots > div:nth-of-type(5), .modal-loading-overlay .loading-dots > div:nth-of-type(7) {
  animation-delay: 0.5s;
}
.modal-loading-overlay .loading-dots > div:nth-of-type(6), .modal-loading-overlay .loading-dots > div:nth-of-type(8) {
  animation-delay: 0.75s;
}
.modal-loading-overlay .loading-dots > div:nth-of-type(9) {
  animation-delay: 1s;
}

.modal-loading.active {
  display: block;
}

@keyframes fade {
  to {
    opacity: 0.2;
  }
}
@media screen and (max-width: 992px) {
  .modal-loading-overlay .loading-dots {
    width: 3em;
    height: 3em;
  }
  .modal-loading-overlay .loading-dots > div {
    width: 0.5em;
    height: 0.5em;
  }
}
@media screen and (max-width: 576px) {
  .modal-loading-overlay .loading-dots {
    width: 2.4em;
    height: 2.4em;
  }
  .modal-loading-overlay .loading-dots > div {
    width: 0.4em;
    height: 0.4em;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#block-intro-wrapper {
  width: 100%;
  background: #043887;
  overflow: hidden;
}
#block-intro-wrapper .block {
  padding-bottom: 0 !important;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 12px;
  border-top: none;
  border-bottom: none;
}

.carousel-indicators .active {
  width: 30px;
  height: 10px;
  background: #ffffff;
  border-radius: 75px;
}

.carousel-indicators {
  bottom: -102px;
}

.intro__vector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 42px;
}

.btn-see-more {
  background-color: white;
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 34px;
  z-index: 1;
  position: relative;
  outline: none;
  overflow: hidden;
  align-items: center;
  margin-top: 30px;
}
.btn-see-more .btn-image {
  padding-left: 12px;
}
.btn-see-more span {
  transition: all 0.25s ease-in-out;
}
.btn-see-more:hover {
  background-color: #092d8e;
  border: 1px solid white;
}
.btn-see-more:hover span {
  color: white;
}

.btn-see-more::after {
  content: "";
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0px;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-525%, 0, 0) rotate(35deg);
}

.btn-see-more:hover::after {
  transition: transform 0.7s ease-in-out;
  transform: translate3d(1100%, 0, 0) rotate(35deg);
}

@media screen and (max-width: 1240px) {
  .intro__vector {
    margin-top: 116px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .carousel-indicators {
    bottom: -65px;
  }

  .intro__vector {
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .mouse-intro {
    width: 16px;
    margin: 48px 0 24px 0;
  }
}
@media screen and (max-width: 768px) {
  .carousel-indicators {
    bottom: -45px;
  }

  .mouse-intro {
    width: 13px;
    margin: 18px 0 16px 0;
  }

  .btn-see-more {
    margin-top: 18px;
    padding: 4px 8px;
  }
  .btn-see-more::before {
    border: 2px solid #0072be;
  }
  .btn-see-more:hover::before {
    border: 2px solid #092d8e;
  }
  .btn-see-more .btn-image {
    padding-left: 4px;
  }
}
@media screen and (max-width: 576px) {
  .mouse-intro {
    width: 11px;
    margin: 18px 0 10px 0;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#our-solution-wrapper {
  width: 100%;
  overflow: hidden;
}

.block-title {
  font-family: iCielSamsungSharp, serif;
}

.title-description {
  max-width: 900px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
}

.block-payments,
.block-eKYC {
  align-items: center;
  overflow: hidden;
}
.block-payments figure,
.block-eKYC figure {
  overflow: hidden;
}

.icon__body2 {
  height: 50px;
  width: 50px;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.service-digital {
  cursor: pointer;
  border-top: 1px solid #dee2e6;
}
.service-digital h5 {
  position: relative;
  transition: all 0.25s ease-in-out;
}
.service-digital h5::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #092d8e;
  transition: all 0.25s ease-in;
}

.service-digital:hover h5 {
  color: #092d8e;
}
.service-digital:hover h5::before {
  width: 100%;
}

.children-title {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.children-title:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #092d8e;
  transition: all 0.25s ease-in;
}

#our-solution-wrapper a:hover .children-title {
  color: #092d8e;
}
#our-solution-wrapper a:hover .children-title::before {
  width: 100%;
}
#our-solution-wrapper a:hover p {
  color: #092d8e;
}

#our-solution-wrapper a:hover figure::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@media screen and (min-width: 1700px) {
  .service-digital {
    padding: 30px 0;
    width: 100%;
  }
}
@media screen and (max-width: 1700px) {
  .service-digital {
    padding: 28px 0;
  }
}
@media screen and (max-width: 1200px) {
  .eKYC {
    margin-bottom: 36px;
  }

  .service-digital {
    padding-left: 28px;
    padding: 24px 0;
  }

  .service-digital:nth-child(3) {
    border-bottom: 1px solid #dee2e6;
  }
}
@media screen and (max-width: 992px) {
  .eKYC {
    margin-bottom: 28px;
  }

  .service-digital {
    padding: 16px 0;
    padding-left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .eKYC {
    margin-bottom: 24px;
  }

  .service-digital {
    padding: 10px 0;
    padding-left: 16px;
  }
}
@media screen and (max-width: 576px) {
  .block-eKYC {
    flex-direction: column-reverse;
  }

  .service-digital h4 {
    font-size: 14px !important;
  }

  .icon__body2 {
    height: 0px;
    width: 0px;
    margin-right: 16px;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#block-post-wrapper {
  background-color: #005c9f;
}

.posts .row {
  margin: 0;
}
.posts .post {
  background-color: #fff;
  border-radius: 20px;
  justify-content: space-evenly;
  padding: 0;
}
.posts .post h5,
.posts .post p {
  font-weight: 500;
  transition: all 0.25s ease-in-out;
}
.posts .post .post-content {
  padding: 16px;
  min-height: 299px;
}
.posts .post .post-image {
  overflow: hidden;
}

#block-post-wrapper .block-content .posts {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#block-post-wrapper .block-content {
  margin-top: 42px;
}
#block-post-wrapper .post:hover h5,
#block-post-wrapper .post:hover p {
  color: #092d8e;
}
#block-post-wrapper .post:hover figure::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

@media (min-width: 1400px) {
  .body3 .container3 .container {
    max-width: 2040px;
  }
}
@media screen and (max-width: 1200px) {
  #block-post-wrapper .post-content {
    min-height: 335px !important;
  }

  .post-content {
    padding: 13px;
  }
}
@media screen and (max-width: 992px) {
  #block-post-wrapper .block-content .posts:hover {
    transform: none;
  }
  #block-post-wrapper .post-content {
    min-height: 206px !important;
  }

  .post-content {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  #block-post-wrapper .post-content {
    min-height: 168px !important;
  }

  .post-content {
    padding: 8px;
  }
}
@media screen and (max-width: 576px) {
  .post-title-des {
    padding: 0 20px;
  }

  #block-post-wrapper .post-content {
    min-height: 136px !important;
  }

  .post-content h5 {
    font-size: 16px;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#lvt-mission-wrapper {
  width: 100%;
  overflow: hidden;
}
#lvt-mission-wrapper h1 {
  line-height: 79px;
}
#lvt-mission-wrapper h6 {
  text-align: justify;
}

.block-in-block {
  align-items: center;
}

@media screen and (max-width: 1240px) {
  h1 {
    line-height: 52px !important;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    line-height: 35px !important;
  }
}
@media screen and (max-width: 576px) {
  #lvt-mission-wrapper .block-in-block {
    flex-direction: column-reverse;
  }
  #lvt-mission-wrapper .block-in-block div:nth-child(1) {
    margin-top: 12px;
  }
  #lvt-mission-wrapper .block-content h1,
#lvt-mission-wrapper .block-content h2 {
    text-align: center;
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#customers-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #2f72af;
}
#customers-wrapper .title-description {
  max-width: 1300px;
  color: #bcf8ff;
}
#customers-wrapper .block-content .row {
  margin: 0;
  justify-content: center;
  align-items: center;
}
#customers-wrapper .customer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 428px;
  min-height: 168px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  margin: 12px;
}
#customers-wrapper .customer:hover img {
  animation: jelly 0.5s linear forwards;
}

@media screen and (max-width: 1400px) {
  #customers-wrapper .customer {
    max-width: 338px;
    min-height: 148px;
    border-radius: 10px;
    margin: 10px;
  }
}
@media screen and (max-width: 1200px) {
  #customers-wrapper .customer {
    max-width: 290px;
    min-height: 142px;
    margin: 4px;
  }

  #customers-wrapper .customer-logo:nth-child(1) {
    width: 70%;
  }
  #customers-wrapper .customer-logo-Vin,
#customers-wrapper .customer-logo-SSI {
    width: 44%;
  }
}
@media screen and (max-width: 992px) {
  #customers-wrapper .customer {
    min-height: 104px;
  }
  #customers-wrapper .customer-logo:nth-child(1) {
    width: 54%;
  }
  #customers-wrapper .customer-logo-Vin,
#customers-wrapper .customer-logo-SSI {
    width: 34% !important;
  }
}
@media screen and (max-width: 758px) {
  #customers-wrapper .customer {
    max-width: 242px;
    min-height: 100px;
  }
}
@media screen and (max-width: 578px) {
  #customers-wrapper .customer {
    max-width: 148px;
    min-height: 58px;
  }
}
@keyframes jelly {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#experience-now-wrapper {
  width: 100%;
  overflow: hidden;
}
#experience-now-wrapper h2 {
  font-weight: 400;
}

@font-face {
  font-family: iCielSamsungSharp;
  src: url(../assets/font/iCiel-SamsungSharpSans-Bold.ttf);
}
#eKYC-intro-wrapper {
  width: 100%;
  background-color: #1e34a2;
  overflow: hidden;
}
#eKYC-intro-wrapper .block {
  padding-bottom: 0 !important;
}
#eKYC-intro-wrapper h1 {
  color: #82fffb;
}
#eKYC-intro-wrapper h4 {
  font-size: 48px;
  font-weight: 300;
  line-height: 56.25px;
  font-family: "Roboto", sans-serif;
}
#eKYC-intro-wrapper h5 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 576px) {
  #eKYC-intro-wrapper .row {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=app.css.map */
