@import "variables";

.page1 {
  width: 100%;
  height: 930px;
  background: #4555e0;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .container {
    max-width: 2080px;
    width: 100%;
    height: 100%;
    padding: 0 80px;
    position: relative;
    overflow: hidden;

    &__background-circle {
      position: absolute;
      width: 1972px;
      height: 1972px;
      left: -378px;
      top: -554px;
      z-index: 0;
      border-radius: 50%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0) 0%,
        rgba(70, 52, 52, 0.15) 100%
      );
      &.active {
        left: -588px;
      }
    }
  }
}

.header {
  padding: 48px 0px 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    z-index: 9999;
    cursor: pointer;
  }

  &__menu {
    z-index: 9999;
    cursor: pointer;

    & path {
      transition: all 0.2s linear;
    }

    & circle:nth-child(3),
    circle:nth-child(4),
    circle:nth-child(5),
    circle:nth-child(6),
    circle:nth-child(7) {
      transition: all 0.2s linear;
    }

    &:hover {
      & path {
        fill: #02b0e7;
      }

      & circle:nth-child(3),
      circle:nth-child(4),
      circle:nth-child(5),
      circle:nth-child(6),
      circle:nth-child(7) {
        fill: #02b0e7;
        stroke: #02b0e7;
      }
    }
  }
}

.header__menu.active {
  & path {
    fill: #02b0e7;
  }

  & circle:nth-child(3),
  circle:nth-child(4),
  circle:nth-child(5),
  circle:nth-child(6),
  circle:nth-child(7) {
    fill: #02b0e7;
    stroke: #02b0e7;
  }
}

.page1__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 41px;

  &__left {
    z-index: 999;
    user-select: none;
  }

  &__right {
    z-index: 999;
    margin-left: 79px;
    user-select: none;

    & div:nth-child(1) {
      position: relative;

      & span {
        position: absolute;
        bottom: 12px;
        width: 169.82px;
        height: 36.02px;
        font-style: normal;
        font-weight: normal;
        font-size: 30.8764px;
        line-height: 36px;
        color: white;
        margin-left: 14.1px;
      }
    }

    & div:nth-child(2) {
      & p:nth-child(1) {
        font-family: $font-second;

        width: 699px;
        height: 89px;
        font-style: normal;
        font-weight: normal;
        font-size: 75.9045px;
        line-height: 101px;
        color: #ffffff;
      }

      & p:nth-child(2) {
        color: #ffffff;
        margin-top: 18px;
        margin-left: 116px;
        width: 523.61px;
        height: 36.02px;

        font-style: normal;
        font-weight: normal;
        font-size: 30.8764px;
        line-height: 36px;
      }
      & ul {
        margin-left: 116px;
        line-height: 120%;
        margin-top: 22px;

        color: #bcf8ff;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
      }

      & svg {
        margin-top: 61px;
        margin-left: 116px;
      }
    }
  }
}

.toggle__menuList {
  display: none;
  z-index: 999;
  margin-left: 124px;
  will-change: opacity;
  animation: onShowMenuCircle 0.68s ease-in-out forwards;
}

.toggle__menuList.active {
  display: block;
}

.page1__menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 265px;

  & li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: white;
    user-select: none;
    margin-bottom: 61px;

    position: relative;

    & a {
      transition: all 0.2s linear;
      color: white;
      &:hover {
        color: #02b0e7;
      }
    }
  }

  & li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    &::before {
      content: "";
      position: absolute;
      bottom: -9px;
      right: 0;
      height: 3px;
      width: 0%;
      background-color: #02b0e7;
      transition: all 0.2s ease-in;
    }
  }

  & li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  li:nth-child(6) {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    position: relative;
    user-select: none;

    & a {
      color: white;
      transition: all 0.2s linear;

      &:hover {
        color: #02b0e7;
      }
    }
  }

  li:nth-child(6) {
    &::before {
      content: "";
      position: absolute;
      bottom: -9px;
      right: 0;
      height: 3px;
      width: 0%;
      background-color: #02b0e7;
      transition: all 0.2s ease-in;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

.page1__menu-circle {
  position: absolute;
  left: 1508px;
  top: -118px;
  width: 1025px;
  display: none;
  height: 1059px;
  border-radius: 50%;
  background: #36008f;
  will-change: opacity, transform-origin;
  transition: all 3s ease-in-out;
  animation: onShowMenuCircle 0.2s ease-in-out forwards;
  transform-origin: 1926px -118px;
}

.page1__menu-circle.active {
  display: block;
}

@keyframes onShowMenuCircle {
  0% {
    left: 1926px;
    top: -118px;
    opacity: 0;
  }

  100% {
    left: 1508px;
    top: -118px;
    opacity: 1;
  }
}

.page1__dots,
.page1__vector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;

  & svg {
    z-index: 999;
  }
}
