$font-primary: "Roboto", sans-serif;

$font-second: "Playfair Display", serif;

$title-color: #454545;

$text-color: #5b758d;

$blur-color: #bcf8ff;

$button-background: #3f4452;

$footer-color: #2f3443;
