$font-primary: "Roboto", sans-serif;

$font-second: "Playfair Display", serif;

$grey-color: #454545;

$text-color: #5b758d;

$violet-color: #3c5ed4;

$blue-color: #bcf8ff;

$menu-list-underline-color: #02b0e7;

$dark-blue: #092d8e;

$white-color: #ffffff;

$button-background: #3f4452;
