@import "variables";
.footer {
  width: 100%;
  overflow: hidden;
  background-color: #373d4b;
  input,
  textarea,
  .btn-send-infoUser {
    background-color: #3f4452;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 0 20px 19px;
  }
  input {
    padding: 20px 0 20px 19px;
  }
  textarea {
    min-height: 200px;
  }
}

.btn-send-infoUser {
  background-color: $background-button !important;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: $dark-blue !important;
  }
}

.mobile-phone,
.address,
.mail {
  display: flex;
  align-items: center;
  cursor: pointer;
  p {
    transition: all 0.25s ease-in-out;
  }
  &:hover {
    p {
      color: $white-color;
    }
  }
}

.block-map {
  position: relative;
  .location {
    position: absolute;
    right: 168px;
    top: 68px;
  }
}

@media screen and (min-width: 1700px) {
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
