@import "../common/variables";
#identification-process-wrapper {
  width: 100%;
  background-color: transparent;
  overflow: hidden;

  .block-advantage {
    .item {
      p {
        text-align: center;
        transition: all 0.25s ease-in-out;
      }
      &:hover {
        p {
          color: $dark-blue;
        }
      }
    }
  }
}
