@import "../variables";

.lvt-mission-wrapper {
  width: 100%;
  overflow: hidden;
  h1 {
    line-height: 79px;
  }
  p {
    text-align: justify;
  }
}

@media screen and (max-width: 1240px) {
  h1 {
    line-height: 52px !important;
  }
  .lvt-mission-wrapper {
    .block-content {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .lvt-mission-wrapper {
    img {
      animation: none;
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    line-height: 35px !important;
  }
}
@media screen and (max-width: 576px) {
  .lvt-mission-wrapper {
    .block-content {
      flex-direction: column-reverse;
      & div:nth-child(1) {
        margin-top: 12px;
      }
    }
  }
}
