@import "../variables";

.our-solution-wrapper {
  width: 100%;
  overflow: hidden;
}

.block-title {
  font-family: $font_second;
}

.icon__body2 {
  height: 50px;
  width: 50px;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.service-digital {
  cursor: pointer;

  & h4 {
    position: relative;
    transition: all 0.25s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;
      height: 2px;
      width: 0%;
      background-color: $dark-blue;
      transition: all 0.25s ease-in;
    }
  }
}

.service-digital:hover {
  & h4 {
    color: $dark-blue;
    &::before {
      width: 100%;
    }
  }
}

.children-title {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease-in;

  &:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: $dark-blue;
    transition: all 0.25s ease-in;
  }
}
.children-title:hover {
  color: $dark-blue;
  &::before {
    width: 100%;
  }
}

@media screen and (min-width: 1700px) {
  .service-digital {
    padding: 30px 0;
    width: 100%;
  }
}

@media screen and (max-width: 1700px) {
  .service-digital {
    padding: 28px 0;
  }
}

@media screen and (max-width: 1240px) {
  .eKYC {
    margin-bottom: 36px;
  }
  .body2 .container {
    margin-bottom: 36px;
  }
  .body2__title {
    padding-top: 65px;
  }
  .service-digital {
    padding: 24px 0;
  }
}

@media screen and (max-width: 1200px) {
  .service-digital {
    padding-left: 28px;
    padding: 20px 0;
  }
  .service-digital:nth-child(3) {
    border-bottom: 1px solid #dee2e6;
  }
}

@media screen and (max-width: 992px) {
  .eKYC {
    margin-bottom: 28px;
  }

  .service-digital {
    padding: 16px 0;
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .eKYC {
    margin-bottom: 24px;
  }
  .service-digital {
    padding: 14px 0;
    padding-left: 16px;
  }
}
@media screen and (max-width: 576px) {
  .block-eKYC {
    flex-direction: column-reverse;
  }
  .service-digital {
    h4 {
      font-size: 14px !important;
    }
  }
  .icon__body2 {
    height: 0px;
    width: 0px;
    margin-right: 16px;
  }
}
