@import "../variables";

.block-post-wrapper {
  background-color: #005c9f;
}
.block-post {
  .items {
    margin-bottom: 30px;
    & .item {
      background-color: #fff;
      border-radius: 20px;
      justify-content: space-evenly;
      .item-content {
        min-height: 276px;
      }
    }
  }
}
.block-post {
  .items {
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.block-post-wrapper {
  .block-content {
    .items {
      cursor: pointer;
      transition: all 0.25s ease-in-out;
    }
  }
}

.block-post-wrapper {
  .block-content {
    .items:hover {
      transform: translateY(-24px);
    }
    .block-content {
      margin-top: 42px;
    }
  }
}

@media (min-width: 1400px) {
  .body3 .container3 .container {
    max-width: 2040px;
  }
}

@media screen and (max-width: 1240px) {
}

@media screen and (max-width: 1200px) {
  .block-post-wrapper {
    .item-content {
      min-height: 335px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .item-content {
    min-height: 246px;
  }
  .block-post-wrapper {
    .block-content {
      .items:hover {
        transform: none;
      }
    }
    .item-content {
      min-height: 206px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .item-content {
    min-height: 180px !important;
  }
  .block-post-wrapper {
    .item-content {
      min-height: 168px !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .description {
    padding: 0 20px;
  }
  .block-post-wrapper {
    .item-content {
      min-height: 136px !important;
    }
  }

  .block-post {
    h4 {
      font-size: 16px;
    }
    p {
      text-align: justify;
    }
  }
}
