@import "../common/variables";

#customers-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #2f72af;
  .title-description {
    max-width: 1300px;
    color: $blue-color;
  }
  .block-content {
    .row {
      margin: 0;
      justify-content: center;
      align-items: center;
    }
  }
  .customer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    max-width: 428px;
    min-height: 168px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    margin: 12px;
    &:hover {
      & img {
        animation: jelly 0.5s linear forwards;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #customers-wrapper {
    .customer {
      max-width: 338px;
      min-height: 148px;
      border-radius: 10px;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 1200px) {
  #customers-wrapper {
    .customer {
      max-width: 290px;
      min-height: 142px;
      margin: 4px;
    }
  }
  #customers-wrapper {
    .customer-logo:nth-child(1) {
      width: 70%;
    }
    .customer-logo-Vin,
    .customer-logo-SSI {
      width: 44%;
    }
  }
}

@media screen and (max-width: 992px) {
  #customers-wrapper {
    .customer {
      min-height: 104px;
    }
    .customer-logo:nth-child(1) {
      width: 54%;
    }
    .customer-logo-Vin,
    .customer-logo-SSI {
      width: 34% !important;
    }
  }
}
@media screen and (max-width: 758px) {
  #customers-wrapper {
    .customer {
      max-width: 242px;
      min-height: 100px;
    }
  }
}

@media screen and (max-width: 578px) {
  #customers-wrapper {
    .customer {
      max-width: 148px;
      min-height: 58px;
    }
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
