@import "../variables";

.experience-now-wrapper {
  width: 100%;
  overflow: hidden;

  .block-title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
