@import "../common/variables";

#block-intro-wrapper {
  width: 100%;
  background: #043887;
  overflow: hidden;
  .block {
    padding-bottom: 0 !important;
  }
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 12px;
  border-top: none;
  border-bottom: none;
}

.carousel-indicators .active {
  width: 30px;
  height: 10px;
  background: #ffffff;
  border-radius: 75px;
}

.carousel-indicators {
  bottom: -102px;
}

.intro__vector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 42px;
}
//btn
.btn-see-more {
  background-color: white;
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 34px;
  z-index: 1;
  position: relative;
  outline: none;
  overflow: hidden;
  align-items: center;
  margin-top: 30px;
  .btn-image {
    padding-left: 12px;
  }
  & span {
    transition: all 0.25s ease-in-out;
  }
  &:hover {
    background-color: $dark-blue;
    border: 1px solid white;
    & span {
      color: white;
    }
  }
}

.btn-see-more::after {
  content: "";
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  left: 0px;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-525%, 0, 0) rotate(35deg);
}

.btn-see-more:hover::after {
  transition: transform 0.7s ease-in-out;
  transform: translate3d(1100%, 0, 0) rotate(35deg);
}

//media
@media screen and (max-width: 1240px) {
  .intro__vector {
    margin-top: 116px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .carousel-indicators {
    bottom: -65px;
  }
  .intro__vector {
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .mouse-intro {
    width: 16px;
    margin: 48px 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .carousel-indicators {
    bottom: -45px;
  }
  .mouse-intro {
    width: 13px;
    margin: 18px 0 16px 0;
  }

  .btn-see-more {
    margin-top: 18px;
    padding: 4px 8px;
    &::before {
      border: 2px solid #0072be;
    }
    &:hover {
      &::before {
        border: 2px solid $dark-blue;
      }
    }
    .btn-image {
      padding-left: 4px;
    }
  }
}
@media screen and (max-width: 576px) {
  .mouse-intro {
    width: 11px;
    margin: 18px 0 10px 0;
  }
}
