@import "../variables";

.trust-solution-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #2f72af;
  .items {
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      max-width: 428px !important;
      min-height: 168px !important;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        & img {
          animation: jelly 0.5s linear forwards;
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .trust-solution-wrapper {
    .items {
      .item {
        max-width: 308px !important;
        img {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .trust-solution-wrapper {
    .items {
      .item {
        max-width: 248px !important;
        min-height: 128px !important;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .trust-solution-wrapper {
    .items {
      .item {
        max-width: 148px !important;
        min-height: 58px !important;
      }
    }
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
