@import "../common/variables";

#lvt-mission-wrapper {
  width: 100%;
  overflow: hidden;
  h1 {
    line-height: 79px;
  }
  h6 {
    text-align: justify;
  }
}
.block-in-block {
  align-items: center;
}

@media screen and (max-width: 1240px) {
  h1 {
    line-height: 52px !important;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  h1 {
    line-height: 35px !important;
  }
}
@media screen and (max-width: 576px) {
  #lvt-mission-wrapper {
    .block-in-block {
      flex-direction: column-reverse;
      & div:nth-child(1) {
        margin-top: 12px;
      }
    }
    .block-content {
      h1,
      h2 {
        text-align: center;
      }
    }
  }
}
