@import "../common/variables";
#our-solution-wrapper {
  width: 100%;
  overflow: hidden;
}

.block-title {
  font-family: $font_second;
}
.title-description {
  max-width: 900px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
}

.block-payments,
.block-eKYC {
  align-items: center;
  overflow: hidden;
  & figure {
    overflow: hidden;
  }
}

.icon__body2 {
  height: 50px;
  width: 50px;
  background: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

.service-digital {
  cursor: pointer;
  border-top: 1px solid #dee2e6;
  & h5 {
    position: relative;
    transition: all 0.25s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;
      height: 2px;
      width: 0%;
      background-color: $dark-blue;
      transition: all 0.25s ease-in;
    }
  }
}

.service-digital:hover {
  & h5 {
    color: $dark-blue;
    &::before {
      width: 100%;
    }
  }
}

.children-title {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease-in;

  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: $dark-blue;
    transition: all 0.25s ease-in;
  }
}
#our-solution-wrapper {
  a:hover {
    .children-title {
      color: $dark-blue;
      &::before {
        width: 100%;
      }
    }
    p {
      color: $dark-blue;
    }
  }
}

#our-solution-wrapper {
  a:hover {
    figure::before {
      -webkit-animation: shine 1s;
      animation: shine 1s;
    }
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

@media screen and (min-width: 1700px) {
  .service-digital {
    padding: 30px 0;
    width: 100%;
  }
}

@media screen and (max-width: 1700px) {
  .service-digital {
    padding: 28px 0;
  }
}

@media screen and (max-width: 1200px) {
  .eKYC {
    margin-bottom: 36px;
  }
  .service-digital {
    padding-left: 28px;
    padding: 24px 0;
  }
  .service-digital:nth-child(3) {
    border-bottom: 1px solid #dee2e6;
  }
}

@media screen and (max-width: 992px) {
  .eKYC {
    margin-bottom: 28px;
  }
  .service-digital {
    padding: 16px 0;
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .eKYC {
    margin-bottom: 24px;
  }
  .service-digital {
    padding: 10px 0;
    padding-left: 16px;
  }
}
@media screen and (max-width: 576px) {
  .block-eKYC {
    flex-direction: column-reverse;
  }
  .service-digital {
    h4 {
      font-size: 14px !important;
    }
  }
  .icon__body2 {
    height: 0px;
    width: 0px;
    margin-right: 16px;
  }
}
