@import "../common/variables";

#block-post-wrapper {
  background-color: #005c9f;
}
.posts {
  .row {
    margin: 0;
  }
  & .post {
    background-color: #fff;
    border-radius: 20px;
    justify-content: space-evenly;
    padding: 0;
    overflow: hidden;
    h5,
    p {
      font-weight: 500;
      transition: all 0.25s ease-in-out;
    }
    .post-content {
      padding: 16px;
      min-height: 299px;
    }
  }
}

#block-post-wrapper {
  .block-content {
    .posts {
      cursor: pointer;
      transition: all 0.25s ease-in-out;
    }
  }
}

#block-post-wrapper {
  .block-content {
    margin-top: 42px;
  }
  .post:hover {
    h5,
    p {
      color: $dark-blue;
    }
    figure::before {
      -webkit-animation: shine 1s;
      animation: shine 1s;
    }
  }
}

@media (min-width: 1400px) {
  .body3 .container3 .container {
    max-width: 2040px;
  }
}

@media screen and (max-width: 1240px) {
}

@media screen and (max-width: 1200px) {
  #block-post-wrapper {
    .post-content {
      min-height: 335px !important;
    }
  }
  .post-content {
    padding: 13px;
  }
}

@media screen and (max-width: 992px) {
  #block-post-wrapper {
    .block-content {
      .posts:hover {
        transform: none;
      }
    }
    .post-content {
      min-height: 206px !important;
    }
  }
  .post-content {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  #block-post-wrapper {
    .post-content {
      min-height: 168px !important;
    }
  }
  .post-content {
    padding: 8px;
  }
}
@media screen and (max-width: 576px) {
  .post-title-des {
    padding: 0 20px;
  }
  #block-post-wrapper {
    .post-content {
      min-height: 136px !important;
    }
  }

  .post-content {
    h5 {
      font-size: 16px;
    }
  }
}
