@import "../variables";

.block-intro-wrapper {
  width: 100%;
  background: #043887;
  overflow: hidden;
}

.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 12px;
  border-top: none;
  border-bottom: none;
}

.carousel-indicators .active {
  width: 40px;
  height: 14px;
  background: #ffffff;
  border-radius: 75px;
}

.carousel-indicators {
  bottom: -102px;
}
.btn-see-more {
  outline: none;
  border: 1px solid white;
  border-radius: 34px;
  transition: all 0.25s ease-in-out;
  div {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
      white-space: nowrap;
      padding: 4px 14px;
    }
  }
  &:hover {
    background: $dark-blue;
    h5 {
      color: white;
    }
  }
}

.intro__vector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 42px;
  & svg {
    z-index: 999;
  }
}

.mouse-intro {
  width: 20px;
  height: 31.58px;
  margin: 60px 0 30px 0;
}

@media screen and (max-width: 1240px) {
  .carousel-indicators .active {
    width: 32px;
    height: 12px;
  }
}

@media screen and (max-width: 992px) {
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
  }
  .carousel-indicators .active {
    width: 26px;
    height: 8px;
  }
  .carousel-indicators {
    bottom: -65px;
  }
  .mouse-intro {
    width: 16px;
    margin: 48px 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .carousel-indicators {
    bottom: -45px;
  }
  .carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    margin: 0 6px;
  }
  .carousel-indicators .active {
    width: 18px;
    height: 6px;
  }
  .mouse-intro {
    width: 13px;
    margin: 18px 0 16px 0;
  }
}
@media screen and (max-width: 576px) {
  .mouse-intro {
    width: 11px;
    margin: 18px 0 10px 0;
  }
}
