@import "../variables";

.page7 {
  width: 100%;
  height: 930px;

  & .container7 {
    width: 100%;
    height: 100%;
    padding: 0 225px;
    background-color: #373d4b;
    margin: 0 auto;
    position: relative;
  }

  &__topBackground {
    position: absolute;
    top: -120px;
    right: 145px;
    width: 756px;
    height: 124.91px;
  }
}

.page7__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 142px;
}

.page7__content--left {
  & div:nth-child(1) {
    & span {
      width: 100%;
      height: 64px;
      font-family: $font-second;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 64px;
      color: #ffffff;
    }
  }

  & div:nth-child(2) {
    margin-top: 32px;
    width: 100%;
    height: 27px;
    & span {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

.page7__address {
  margin-top: 19px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  & span {
    margin-left: 26px;
    width: 100%;
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #baccdc;
  }
}

.page7__hot-line,
.page7__email {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & span {
    margin-left: 26px;
    width: 114px;
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 228%;
    color: #baccdc;
  }
}

.page7__email span {
  font-weight: normal;
}

.page7__map {
  width: 100%;
  margin-top: 58px;
  position: relative;
}

.coordinate {
  position: absolute;
  right: 120px;
  top: 48px;
}

.page7__content--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

textarea {
  resize: none;
}
.userName {
  & input {
    outline: none;
    border: none;
    padding-left: 23px;
    width: 722px;
    height: 60px;
    color: white;
    border-radius: 10px;
    background: $button-background;
  }
}

.mail-phone {
  outline: none;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userEmail {
  outline: none;
  border: none;
  width: 348px;
  padding-left: 23px;
  margin-right: 26px;
  height: 60px;
  color: white;
  background: $button-background;
  border-radius: 10px;
}

.userPhone {
  outline: none;
  border: none;
  padding-left: 23px;
  width: 348px;
  height: 60px;
  color: white;
  background: $button-background;
  border-radius: 10px;
}

.userMessage {
  outline: none;
  margin-top: 25px;
  width: 722px;
  padding-top: 18px;
  padding-left: 23px;
  height: 241px;
  color: white;
  border: none;
  background: $button-background;
  border-radius: 10px;
}

.page7__btn {
  width: 722px;
  height: 70px;
  margin-top: 25px;
  background: #4555e0;
  border-radius: 10px;
  border: none;
  & span {
    width: 73px;
    height: 41px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 228%;
    color: #ffffff;
  }
}
