@import "../variables";

.page5 {
  width: 100%;
  height: 930px;
  overflow: hidden;

  & .container5 {
    width: 100%;
    height: 100%;
    padding: 0 225px;
    background-color: #5d53cf;
    margin: 0 auto;
  }

  &__title,
  &__title--second {
    font-family: $font-second;
    font-style: normal;
    font-weight: normal;
    line-height: calc(85 / 64);
    text-align: center;
    color: #ffffff;
  }

  &__title {
    font-size: 64px;
    padding-top: 68px;
  }

  &__title--second {
    font-size: 48px;
    margin-top: 4px;
  }

  &__subTitle {
    width: 1471px;
    height: 105px;
    margin-top: 25px;

    font-family: $font-primary;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #d8c0ff;
  }
}

.page5__rectangle {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rectangle--entireprise1,
.rectangle--entireprise2,
.rectangle--entireprise3,
.rectangle--entireprise4,
.rectangle--entireprise5,
.rectangle--entireprise6 {
  width: 468px;
  cursor: pointer;
  height: 208px;
  background: #ffffff;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle--entireprise1 {
  margin-right: 30px;
  margin-bottom: 30px;
  & div {
    width: 183px;
    height: 113px;
  }
}
.rectangle--entireprise2 {
  margin-right: 30px;
  margin-bottom: 30px;
  & div {
    width: 239px;
    height: 38px;
  }
}
.rectangle--entireprise3 {
  margin-bottom: 30px;
  & div {
    width: 247px;
    height: 52px;
  }
}

.rectangle--entireprise4 {
  margin-right: 30px;
  & div {
    width: 117px;
    height: 105px;
  }
}
.rectangle--entireprise5 {
  margin-right: 30px;
  & div {
    width: 240px;
    height: 37px;
  }
}
.rectangle--entireprise6 div {
  width: 118px;
  height: 115px;
}

.rectangle--entireprise1:hover,
.rectangle--entireprise2:hover,
.rectangle--entireprise3:hover,
.rectangle--entireprise4:hover,
.rectangle--entireprise5:hover,
.rectangle--entireprise6:hover {
  & div {
    animation: jelly 0.5s;
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
