@import "../variables";

.body3 {
  width: 100%;
  overflow: hidden;

  & .container3 {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    background-color: #005c9f;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    padding-top: 75px;
    font-family: $font_second;
  }
}

.body3-banner {
  border-radius: 20px;
}

.post-content {
  min-height: 276px;
}

@media (min-width: 1400px) {
  .body3 .container3 .container {
    max-width: 2040px;
  }
}

@media screen and (min-width: 1700px) {
  .container3 {
    padding: 0 80px !important;
  }
}

@media screen and (max-width: 1700px) {
  .container3 {
    padding: 0 60px !important;
  }
}

@media screen and (max-width: 1400px) {
  .container3 {
    padding: 0 40px !important;
  }
}

@media screen and (max-width: 1240px) {
  .container3 {
    padding: 0 24px !important;
  }
  .body3 .container {
    margin-bottom: 36px;
  }
  .body3__title {
    padding-top: 65px;
  }
}

@media screen and (max-width: 1200px) {
  .body3__title {
    padding-top: 55px;
  }
  .body3 .container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 992px) {
  .container3 {
    padding: 0 20px !important;
  }

  .body3__title {
    padding-top: 45px;
  }
  .body3 .container {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .container3 {
    padding: 0 20px !important;
  }

  .body3__title {
    padding-top: 35px;
  }
  .body3 .container {
    margin-bottom: 18px;
  }
}
