@import "./variables";
#footer {
  width: 100%;
  overflow: hidden;
  background-color: #373d4b;
  input,
  textarea,
  .btn-send-infoUser {
    background-color: #3f4452;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px 0 20px 19px;
  }

  textarea {
    min-height: 200px;
  }
  .block-content {
    display: flex;
    align-items: center;
  }
}

.btn-send-infoUser {
  background-color: $background-button !important;
  border: 1px solid $background-button;
  transition: all 0.15s ease-in-out;
  &:hover {
    border: 1px solid white;
    background-color: $dark-blue !important;
  }
}

.contacts {
  display: flex;
  align-items: center;
  cursor: pointer;
  h6 {
    transition: all 0.25s ease-in-out;
  }
  &:hover {
    h6 {
      color: $white-color;
    }
  }
}

.block-map {
  position: relative;
  .location {
    position: absolute;
    right: 168px;
    top: 68px;
  }
}
.email-form,
.phone-form {
  width: 50%;
}

//animation - input

//footer-bottom
.footer-bottom {
  background-color: #2f3443;
  padding: 20px 0;

  .footer-bootom-right,
  .footer-bottom-left {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo-footer {
      cursor: pointer;
    }
    .footer-menu {
      display: flex;
      justify-content: center;
      align-items: center;

      .category {
        display: flex;
        justify-content: center;
        align-items: center !important;
        & h6 {
          white-space: nowrap;
          cursor: pointer;
          transition: all 0.25s ease-in-out;
        }
        &:hover {
          h6 {
            color: $white-color;
          }
        }
      }
    }
  }
}

.copyright {
  h6 {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    color: $white-color;
    text-align: end;
  }
}

.dropdown-menu {
  min-width: 100px;
  padding: 0;
  border-radius: 10px !important;

  & button {
    width: 100%;
    outline: none;
    border: none;
    padding: 6px 6px;
    transition: all 0.25s ease-in-out;
    &:hover {
      background-color: $dark-blue;
      color: $white-color;
    }
  }
}

.btn-language {
  width: 100%;
  padding: 6px 6px;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: $dark-blue;
    h6 {
      color: $white-color;
    }
  }
}

@media screen and (max-width: 1200px) {
  .copyright,
  .category {
    h6 {
      font-size: 12px !important;
    }
  }
  .btn-language {
    width: 100%;
    padding: 4px 4px;
    h6 {
      font-size: 12px;
    }
  }
  .footer-menu {
    display: flex;
    justify-content: end !important;
  }
}

@media screen and (max-width: 992px) {
  input,
  textarea,
  .btn-send-infoUser {
    padding: 10px 0 10px 16px !important;
  }
  textarea {
    min-height: 144px !important;
  }
  .email-form {
    width: 65%;
  }
  .phone-form {
    width: 35%;
  }
  .btn-group.dropup,
  .copyright,
  .footer-menu,
  .footer-logo {
    display: flex;
    justify-content: center !important;
  }

  .btn-group.dropup,
  .copyright,
  .footer-menu {
    margin-top: 12px;
    .category {
      h6 {
        padding-left: 24px;
      }
      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-bottom {
    padding: 0;
  }
  .copyright,
  .footer-logo {
    margin: 8px 0;
    display: flex;
    align-items: center;
  }
  .footer .block-content {
    margin-top: 0px !important;
  }
  input,
  textarea,
  .btn-send-infoUser {
    padding: 8px 0 8px 14px !important;
    border-radius: 6px !important;
    font-size: 10px;
  }
  .category {
    img {
      display: none;
    }
    & h6 {
      color: $white-color;
    }
  }
  .footer-menu {
    & ul {
      justify-content: center !important;
    }
  }
}

@media screen and (max-width: 576px) {
  .email-form,
  .phone-form {
    width: 50%;
  }
  input,
  textarea,
  .btn-send-infoUser {
    padding: 6px 0 6px 10px !important;
    border-radius: 6px !important;
  }
  .footer-menu {
    .category {
      h6 {
        padding-left: 12px;
      }
    }
  }
  .copyright {
    justify-content: center;
  }
  .btn-language {
    margin-bottom: 8px;
  }
}
